body {
	font-family: verdana, arial;	
	font-size: 1em;
	margin: 0px;
	background-color: #111;
	color: #cfcfff;
}

hr {
	border: 0px;
	border-top: 1px solid #eef;
	margin: 0px 0px 10px 0px;
}

img {
	margin: 0px;
	padding: 0px;
}

select, option {
	background-color: #777;
	color: #000;
}

#main div.multiview_cam {
	display: inline-block;
}

form#options {
	padding: 10px;
}

div.multiview_cam {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	background-color: #111;	
}

div.multiview_title {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.multiview_title > p {
	padding: 0px;
	margin: 0px;
	color: #eee;
}

.multiview_title span.title_stats {
	text-align: right;
	float: right;
	width: 60%;
}

.multiview_title span.title_name {
	color: #99c;
	float: left;
	text-align: left;
	width: 40%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}


div.cam_data {
	padding: 0px;
	margin: 0px;
}

div.multiview_cam_data {
	padding: 0px;
	margin: 0px;
}
